body{
    background-color: rgb(127, 153, 160);
    max-height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}
.sidebar{
    background-color: rgb(1, 209, 209);
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}
.side_items{
    display: flex;
    justify-items: center;
    gap: 3px;
}
.dashboard_icons .control_icons .nav_icons{
    margin-bottom: 50px;
}
.head{
    background-color: rgb(244, 250, 250);
    grid-column: 2 / 3;
}
.headrow_1{
    display: flex;
    gap: 5px;
    margin: 2px;
    justify-content: space-evenly;
}
.search{
   justify-items: flex-start;
    
}
.prof_icons{
    justify-self: flex-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
input{
    width: 400px;
    border-radius: 2px;
    height: 20px;
}
.headrow_2{
    display:flex;
    align-items: center; 
    gap: 8px;
    justify-content: space-between;
    margin: 2px;
}

.btns{
    /* justify-self: flex-end; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:5px;
}
button{
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(6, 41, 240);
    color: aliceblue;
    border-color: rgb(19, 19, 253);
    border-width: 0.5px;

}
.content_section{
    grid-column: 2/ 3;
    display: flex;
    flex-direction: row;   
}
.Projects_section{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
    padding: 0;
}
.content_section h3{
    margin-bottom: 15px;
}
.Proj{
    max-width: 300px;
    max-height: 180px;
    background-color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    border-left: 10px solid goldenrod;
    gap: 5px;
    padding: 20px;
    margin-bottom: 15px; 
    border-radius: 3px;
}
.mini_icons{
    display: flex;
    margin-top: 5px;
}

.announcements_section {
    
    max-width: 700px;
    height: 400px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: azure;
}
.trend{
    display: flex;
}
.title{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 70px;
}